[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=xhost +
Exec=lxterminal --command "gksu sh /home/pi/Desktop/DexterEd/Scratch_GUI/Scratch_Start.sh"
Icon=/usr/share/scratch/Media/Costumes/Animals/cat1-b.gif
Terminal=false
Name=Scratch_Start
Comment= Programming system and content development tool
Categories=Application;Education;Development;
MimeType=application/x-scratch-project
